<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="musicPlayer"
    class = "org.springframework.MusicPlayer">
        <constructor-arg ref="jazzMusic"/>
    </bean>
    <bean id="classicalMusic"
      class = "org.springframework.ClassicalMusic">
    </bean>
    <bean id="rockMusic"
          class="org.springframework.RockMusic">

    </bean>
    <bean id="jazzMusic"
          class="org.springframework.JazzMusic">

    </bean>

</beans>